---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const anchors = document.querySelectorAll("a[href^='http']");
        anchors.forEach(anchor => {
          // Only apply if the link goes to another domain
          if (!anchor.href.includes(window.location.hostname)) {
            anchor.setAttribute("target", "_blank");
            anchor.setAttribute("rel", "noopener");
          }
        });
      });
    </script>

    
  </body>
</html>
